{% extends "base.html" %}

{% block content %}
<div class="container">
  <form id="choice">
    <div class="form-group row">
      {{ catForm.cat.label(class = 'h6 col-sm-2 col-form-label') }}
      {{ catForm.cat(class = 'col-sm-6') }}
    </div>
  </form>
  <hr class="featurette-divider">
  <!-- START THE FEATURETTES -->
  <div class="row">
    <div class="col-8">
      <!--Start Form Rekreasi-->
      <form id="formrekreasi" style="display :none;">
        <div class="form-group row">
          {{ rekreasiForm.cekradio.label(class="h6 col-sm-2 col-form-label") }}
          {% for subfield in rekreasiForm.cekradio %}
            <div class="form-check form-check-inline">
              {{ subfield(class="form-check-input") }}
              {{ subfield.label(class="form-check-label") }}
            </div>
          {% endfor %}
        </div>
        <div class="form-group row">
          {{ rekreasiForm.htm.label(class="col-sm-3 col-form-label") }}
          {{ rekreasiForm.htm(class="col-sm-5",  placeholder="Masukkan HTM") }}
        </div>
        <div class="form-group row">
          {{ rekreasiForm.pengunjung.label(class="col-sm-3 col-form-label") }}
          {{ rekreasiForm.pengunjung(class="col-sm-5",  placeholder="Masukkan Jumlah Pengunjung") }}
        </div>
        <div class="form-group row">
          {{ rekreasiForm.persen.label(class="col-sm-3 col-form-label") }}
          {{ rekreasiForm.persen(class="col-sm-5",  placeholder="Masukkan Presentase") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ rekreasiForm.btnrekreasi(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form Rekreasi -->

      <!--Start Form Konser-->
      <form id="formkonser" style="display :none;">
        <div class="form-group row">
          {{ konserForm.konsercek.label(class="h6 col-sm-2 col-form-label") }}
          {% for subfield in konserForm.konsercek %}
            <div class="form-check form-check-inline">
              {{ subfield(class="form-check-input") }}
              {{ subfield.label(class="form-check-label") }}
            </div>
          {% endfor %}
        </div>
        <div class="form-group row">
          {{ konserForm.bproduksi.label(class="col-sm-3 col-form-label") }}
          {{ konserForm.bproduksi(class="col-sm-5",  placeholder="Masukkan Biaya Produksi", disabled="disabled") }}
        </div>
        <div class="form-group row">
          {{ konserForm.grosstiket.label(class="col-sm-3 col-form-label") }}
          {{ konserForm.grosstiket(class="col-sm-5",  placeholder="Masukkan Penjualan Kotor") }}
        </div>
        <div class="form-group row">
          {{ konserForm.freetiket.label(class="col-sm-3 col-form-label") }}
          {{ konserForm.freetiket(class="col-sm-5",  placeholder="Masukkan Total Harga") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ konserForm.btnkonser(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form Konser -->

      <!--Start Form Mall, Supermarket, dkk-->
      <form id="formmall" style="display :none;">
        <div class="form-group row">
          {{ mallForm.luasruang.label(class="col-sm-3 col-form-label") }}
          {{ mallForm.luasruang(class="col-sm-5",  placeholder="Masukkan Luas Area") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ mallForm.btnmall(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form Mall, Supermarket, dkk -->

      <!--Start Form Karaoke-->
      <form id="formkaraoke" style="display :none;">
        <div class="form-group row">
          {{ karaokeForm.karaokeaula.label(class="col-sm-4 col-form-label") }}
          {{ karaokeForm.karaokeaula(class="col-sm-6",  placeholder="Masukkan Jumlah Ruang") }}
        </div>
        <div class="form-group row">
          {{ karaokeForm.karaokefamili.label(class="col-sm-4 col-form-label") }}
          {{ karaokeForm.karaokefamili(class="col-sm-6",  placeholder="Masukkan Jumlah Ruang") }}
        </div>
        <div class="form-group row">
          {{ karaokeForm.karaokeeksekutif.label(class="col-sm-4 col-form-label") }}
          {{ karaokeForm.karaokeeksekutif(class="col-sm-6",  placeholder="Masukkan Jumlah Ruang") }}
        </div>
        <div class="form-group row">
          {{ karaokeForm.karaokebooth.label(class="col-sm-4 col-form-label") }}
          {{ karaokeForm.karaokebooth(class="col-sm-6",  placeholder="Masukkan Jumlah Ruang") }}
        </div>
        <div class="form-group row">
          {{ karaokeForm.harikerja.label(class="col-sm-4 col-form-label") }}
          {{ karaokeForm.harikerja(class="col-sm-6",  placeholder="Masukkan Hari Kerja") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ karaokeForm.btnkaraoke(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form Karaoke -->

      <!--Start Form Restaurant dan Kafe-->
      <form id="formrestokafe" style="display :none;">
        <div class="form-group row">
          {{ restoForm.jmlkursi.label(class="col-sm-3 col-form-label") }}
          {{ restoForm.jmlkursi(class="col-sm-5",  placeholder="Masukkan Jumlah Kursi") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ restoForm.btnresto(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form Restaurant dan Kafe -->

      <!--Start Form Pub, Bar, Bistro-->
      <form id="formpubbar" style="display :none;">
        <div class="form-group row">
          {{ pubForm.pubbarluas.label(class="col-sm-3 col-form-label") }}
          {{ pubForm.pubbarluas(class="col-sm-5",  placeholder="Masukkan Luas Area") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ pubForm.btnpub(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form Pub, Bar, Bistro -->

      <!--Start Form Diskotik-->
      <form id="formdiskotik" style="display :none;">
        <div class="form-group row">
          {{ diskoForm.diskotikluas.label(class="col-sm-3 col-form-label") }}
          {{ diskoForm.diskotikluas(class="col-sm-5",  placeholder="Masukkan Luas Area") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ diskoForm.btndiskotik(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form Diskotik -->

      <!--Start Form Hotel-->
      <form id="formhotel" style="display :none;">
        <div class="form-group row">
          {{ hotelForm.hotelkamar.label(class="col-sm-3 col-form-label") }}
          {{ hotelForm.hotelkamar(class="col-sm-5",  placeholder="Masukkan Jumlah Kamar") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ hotelForm.btnhotel(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form Hotel -->

      <!--Start Form NSP-->
      <form id="formnsp" style="display :none;">
        <div class="form-group row">
          {{ nspForm.nsp.label(class="col-sm-3 col-form-label") }}
          {{ nspForm.nsp(class="col-sm-5",  placeholder="Masukkan Jumlah Sambungan Telepon") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ nspForm.btnnsp(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form NSP -->

      <!--Start Form Bank-->
      <form id="formbank" style="display :none;">
        <div class="form-group row">
          {{ bankForm.luasbankktr.label(class="col-sm-3 col-form-label") }}
          {{ bankForm.luasbankktr(class="col-sm-5", placeholder="Masukkan Luas Area") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ bankForm.btnbank(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form Bank -->

      <!--Start Form Bioskop-->
      <form id="formbioskop" style="display :none;">
        <div class="form-group row">
          {{ bioskopForm.jmllayar.label(class="col-sm-3 col-form-label") }}
          {{ bioskopForm.jmllayar(class="col-sm-5",  placeholder="Masukkan Jumlah Layar") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ bioskopForm.btnbioskop(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form Bioskop -->

      <!--Start Form pesawat-->
      <form id="formpesawat" style="display :none;">
        <div class="form-group row">
          {{ pesawatForm.jmlpenumpangpswt.label(class="col-sm-3 col-form-label") }}
          {{ pesawatForm.jmlpenumpangpswt(class="col-sm-5",  placeholder="Masukkan Jumlah Penumpang") }}
        </div>
        <div class="form-group row">
          {{ pesawatForm.hrgtiketpswt.label(class="col-sm-3 col-form-label") }}
          {{ pesawatForm.hrgtiketpswt(class="col-sm-5",  placeholder="Masukkan Harga Tiket Terendah") }}
        </div>
        <div class="form-group row">
          {{ pesawatForm.durasimskpswt.label(class="col-sm-3 col-form-label") }}
          {{ pesawatForm.durasimskpswt(class="col-sm-5",  placeholder="Masukkan Durasi Musik In-Flight") }}
        </div>
        <div class="form-group row">
          {{ pesawatForm.durasimskpswtog.label(class="col-sm-3 col-form-label") }}
          {{ pesawatForm.durasimskpswtog(class="col-sm-5",  placeholder="Masukkan Durasi Musik On-Ground") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ pesawatForm.btnpesawat(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form pesawat -->

      <!--Start Form Bazaar-->
      <form id="formbazaar" style="display :none;">
        <div class="form-group row">
          {{ bazaarForm.hariAcara.label(class="col-sm-3 col-form-label") }}
          {{ bazaarForm.hariAcara(class="col-sm-5",  placeholder="Masukkan Jumlah Hari") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ bazaarForm.btnbazaar(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form Bazaar -->

      <!--Start Form Transport selain pesawat-->
      <form id="formtransport" style="display :none;">
        <div class="form-group row">
          {{ transportForm.jmlpenumpang.label(class="col-sm-3 col-form-label") }}
          {{ transportForm.jmlpenumpang(class="col-sm-5",  placeholder="Masukkan Jumlah Penumpang") }}
        </div>
        <div class="form-group row">
          {{ transportForm.hrgtikettransport.label(class="col-sm-3 col-form-label") }}
          {{ transportForm.hrgtikettransport(class="col-sm-5",  placeholder="Masukkan Harga Tiket") }}
        </div>
        <div class="form-group row">
          {{ transportForm.durasimsk.label(class="col-sm-3 col-form-label") }}
          {{ transportForm.durasimsk(class="col-sm-5",  placeholder="Masukkan Durasi Musik") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ transportForm.btntransport(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form Transport selain pesawat -->

      <!--Start Form Radio-->
      <form id="formradio" style="display :none;">
        <div class="form-group row">
          {{ radioForm.komersilRad.label(class="h6 col-sm-2 col-form-label") }}
          {% for subfield in radioForm.komersilRad %}
            <div class="form-check form-check-inline">
              {{ subfield(class="form-check-input") }}
              {{ subfield.label(class="form-check-label") }}
            </div>
          {% endfor %}
        </div>
        <div class="form-group row">
          {{ radioForm.tahunRadio.label(class = 'h6 col-sm-4 col-form-label') }}
          {{ radioForm.tahunRadio(class = 'col-sm-3') }}
        </div>
        <div class="form-group row">
          {{ radioForm.auditRadio.label(class="col-sm-4 col-form-label") }}
          {{ radioForm.auditRadio(class="col-sm-6",  placeholder="Masukkan Pendapatan Setelah Audit") }}
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            {{ radioForm.btnradio(class="btn btn-primary")}}
          </div>
        </div>
      </form>
      <!-- End Form Radio -->

    </div>
    <div class="col-4 jumbotron" id='boxDuit'>
      <label class="h5">Royalti yang dibayarkan:</label>
      <p class="h4">Rp. <span id="duit">0</span> </p>
    </div>
  </div>
  <!-- /END THE FEATURETTES -->

</div>
{% endblock %}

{% block scripts %}
{{ super()}}
<script src="{{ url_for('static',filename='js/_docready.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/formsubmit.js') }}" type="text/javascript"></script>
{% endblock %}
