{% extends "base.html" %}

{% block content %}
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
  </div><!-- /.row -->

  <!-- START THE FEATURETTES -->

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Music Royalties Calculator. <span class="text-muted">It’ll blow your mind.</span></h2>
      <p class="lead">Professional Academy 2021. Cisco Python Kelas D - Grup S.
      <ul class="lead">
        <li>Jonathan Eko Satrio</li>
        <li>Nashiruddin Kafi</li>
        <li>Putut Nur Ramdani</li>
      </ul>
      </p>
    </div>
    <div class="col-md-5">
      <img src="{{ url_for('static',filename='img/wall.jpg') }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee"/></img>

    </div>
  </div>

  <!-- /END THE FEATURETTES -->

</div>
{% endblock %}
